<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add">Add Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bookList">Book List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/returned">Available Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/borrowed">Borrowed Books</a>
        </li>

    </ul>

</nav>
<h1>You have reached list of borrowed books</h1>

<div    th:each="book : ${books}">
    <h4 th:inline="text"> Title: [[${book.title}]] </h4>
    <h4 th:inline="text"> Author: [[${book.author}]] </h4>
    <h4 th:inline="text"> Year of Publication: [[${book.yop}]] </h4>
    <h4 th:inline="text"> Isbn#: [[${book.isbn}]] </h4>
    <h4 th:inline="text"> Image: [[${book.image}]] </h4>
    <h4 th:inline="text"> Borrowed? [[${book.isBorrowed}]] </h4>

    <form action="#"
          th:action="@{/confBorrowed}"
          th:object="${book}"
          method="post">

        <input type="submit" value="Borrow"/>
        <!--<h4 th:inline="text"> Sample text [[${book.status}]] </h4>-->
    </form>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>